@import '../../assets/styles/general';

.customers-page {
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    @include font-body-small;
    font-weight: bold;
    text-transform: capitalize;
  }
}
