@import '../../assets/styles/general';

.customers-page {
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile {
      justify-content: center;

      .toggle-selector {
        margin-top: 1rem;
      }
    }
  }

  &-title {
    @include font-body-small;
    font-weight: bold;
    text-transform: capitalize;
  }
}
