@import '../../assets/styles/general';

.dashboard-page {
  &-insights {
    margin: 0px;
    border-bottom: 1px solid $input;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .insight-block {
      width: 25%;

      &:first-child {
        padding-left: 0px;
        border-left: none;
      }

      @include mobile {
        width: 50%;

        &:first-child {
          padding-left: 30px;
          border-left: 1px solid $input;
        }
      }
    }
  }

  .subtitle {
    @include font-body-small;
    font-weight: bold;
    text-transform: capitalize;
  }

  &-charts {
    padding: 20px 0;

    .customers-page {
      border-bottom: 1px solid $input;
      padding-bottom: 3rem;
      margin-bottom: 2rem;

      .data-table {
        height: 350px;
        overflow-y: auto;
      }
    }
  }
}
