@import '../../assets/styles/general';

.dashboard-page {
  &-insights {
    margin: 0px;
    border-bottom: 1px solid $input;

    .insight-block:first-child {
      padding-left: 0px;
      border-left: none;
    }
  }

  .subtitle {
    @include font-body-small;
    font-weight: bold;
    text-transform: capitalize;
  }

  &-charts {
    padding: 20px 0;

    .customers-page {
      border-bottom: 1px solid $input;
      padding-bottom: 3rem;

      .data-table {
        height: 350px;
        overflow-y: auto;
      }
    }
  }
}
