@import '../../assets/styles/general';

.dashboard-page {
  &-insights {
    margin: 0px;
    border-bottom: 1px solid $input;

    .insight-block:first-child {
      padding-left: 0px;
      border-left: none;
    }
  }

  .subtitle {
    @include font-body-small;
    font-weight: bold;
  }

  &-charts {
    padding: 20px 0;

    &-container {
      width: 100%;
      height: 400px;
    }
  }
}
