@import '../../assets/styles/general';

.input-selector {
  position: relative;
  @include font-body-xsmall;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $line;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  color: $label;

  &-label {
    margin-right: 20px;
    display: flex;
    align-items: center;

    .fa-calendar {
      margin-right: 5px;
    }
  }

  &-options {
    position: absolute;
    top: 100%;
    width: 100%;
    border: 1px solid $input;
    left: 0px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;
    z-index: 999;
    padding: 5px 0px;
    display: none;

    &.active {
      display: block;
    }

    ul {
      padding: 0;

      li {
        list-style: none;
        padding: 5px 15px;

        &:hover {
          background-color: aliceblue;
        }
      }
    }
  }
}
