@import '../../assets/styles/general';

.input-selector {
  @include font-body-xsmall;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $line;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  color: $label;

  &-label {
    margin-right: 20px;
    display: flex;
    align-items: center;

    .fa-calendar {
      margin-right: 5px;
    }
  }
}
