@import '../../assets/styles/general.scss';

.app-sidebar {
  width: 250px;
  height: 100vh;
  color: $label;
  border-right: 1px solid $input;
  background-color: $offWhite;

  @include tablet {
    position: absolute;
    z-index: 999;
    width: 0px;
    overflow: hidden;

    &-open {
      width: 250px;
    }
  }

  @include mobile {
    position: absolute;
    z-index: 999;
    // width: 0px;
    // overflow: hidden;

    // &-open {
    //   width: 250px;
    // }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      padding: 15px 0px 15px 30px;
      border-radius: 5px;
      @include font-body-small;

      &:hover {
        background-color: #e5ebfe;
        cursor: pointer;
      }

      &.option-active {
        color: $primary;

        .option-label {
          border-right: 4px solid $primary;
          border-radius: 2px;
        }
      }

      .fas {
        width: 30px;
      }
    }
  }
}
