@import '../../assets/styles/general';

.invoices-page {
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    @include font-body-medium;
    font-weight: bold;
    text-transform: capitalize;
  }

  #invoices-table {
    margin-top: 2rem;
    width: 100%;
    color: $ash;

    thead {
      border-bottom: 1px solid $input;

      th {
        @include font-body-xsmall;
        font-size: 12px;
        font-weight: 500;
        color: $label;
        padding: 10px 0;
        text-transform: uppercase;
      }
    }

    tbody {
      td {
        @include font-body-small;
        padding: 15px 0;
      }
    }

    tfoot #invoices-table-navigation {
      display: flex;
      justify-content: center;
      padding: 2rem 0;
      border-top: 1px solid $input;

      .page-item {
        cursor: pointer;
      }
    }
  }
}
