@import './assets/styles/general';

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;

  &-body {
    padding: 30px;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;

    @include mobile {
      padding: 20px;
    }
  }
}
